.globalForm{
  min-width: 2300px;
}
.list{
  font-size: 14px;
  font-weight: 600;
}
.show-more{
  color: #586069;
  outline: none!important;
  font-weight: 400;
  background-color: transparent;
}
.show-more:hover{
  color: #0366d6;
  cursor: pointer;
}